
body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    color: aliceblue;
    
  }
  
  .bg {
    /* The image used */
    background-image: url("header.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bs-example{
    margin: 20px;
}
@media only screen and (max-width: 500px) {

    .bg{
        height: 50%; 
        background-position: top;
        background-repeat: no-repeat;
        background-size: 500px;
    }
}
@media only screen and (max-width: 325px) {

    .bg{
        height: 50%; 
        background-position: top;
        background-repeat: no-repeat;
        background-size: 330px;
    }
}
h1{
    text-align: center;
    margin: revert;
    padding: 10px;
    font-size:7vw
}
.hoJa{
    text-align: justify;
    margin: 35px;
    font-size: 20px;
}
.tuBhHoja{
    font-size: 40px;
    text-align: justify;
    margin: 31px;
}
#hoja{
    display: flex;
    flex-direction: column;
    justify-content: center;
}