*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grandParent{
    width: 500px;
    height: 500px;
    color: aliceblue;
    background-color: aqua;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.parent{
    width: 400px;
    height: 400px;
    color: aliceblue;
    background-color: rgb(179, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 300px;
    height: 300px;
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}